*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    line-height: 22px;
}
.area{
    width: 1000px;
    margin: 0 auto;
}
ul{text-decoration: none;}

.header{}
.logo{}
.logo h3{
    padding: 25px;
    font-size: 30px;
}
.menu{
    float: right;
    width: 720px;
    display: block;
}
.menu ul{}
.menu ul li{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 20px;
}