*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
.fix::before{
    content: "";
    display: table;
    clear: both;
}
body{
    font-size: 14px;
    line-height: 22px;
}
.area{
    width: 1000px;
    margin: 0 auto;
}
.header{
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo{
    float: left;
    width: 250px;
    margin-right: 30px;
}
.logo h3{
    padding: 25px;
    font-size: 30px;
}
.menu{
    float: right;
    width: 720px;
    display: block;
}
.menu ul{
    text-align: right;
    margin-top: 14px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 20px;
}

.text{
    text-align: center;
    margin-top: 100px;
}
.text h1{
    line-height: 40px;
    margin-bottom: 10px;
}
.text p{
    
}
.text button{
    margin-top: 20px;
    background-color: rgb(237, 121, 13);
    padding: 10px;
}

.image{
    padding: 40px;
}
.heding{
    text-align: center;
    margin-top: 100px;
}
.heding h1{
    line-height: 40px;
    margin-bottom: 10px;
}
.icon{
    margin-top: 30px;
    margin-bottom: 30px;
}
.icon img{
    height: 50px;
    width: 150px;
    margin: 20px;
}
.copy{
    height: 100px;
    background-color: bisque;
    text: center;
}
.copy p{
    text-align: center;
    top: 50px;
}